body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
/* The code becomes responsive with width being set to a certain portion of the screen  */
}

h1{
  color: #76BA99;
}
h2{
  color: #76BA99;
}
h3{
  color:#76BA99;
}

a:hover{
  color:red;
}

input:autofill {
    border: 3px solid darkorange;
}



/* #yellow{
  color: yellow;
}
#blue-bg{
  background-color: blue;
} */
